/* Whatever is here overrides Bootstrap  */

body {
  background: #ffffff;
  margin-top: 40px;
}

h2 {
  margin-bottom: 50px;
}

thead {
  padding: 12px;
}

.shiplistTable {
  border-collapse: collapse;
  border-spacing: 10 20px;
}

.shiplistTableHeaderRow {
  text-align: center;
  font-weight: normal;
}

.shiplistTableBodyRow {
  margin-bottom: 10px;
  opacity: 1;
  transition: 0.4s;
}

.shiplistTableBodyRow:hover {
  background-color: #e7e7e7; /* Gray */
}

td {
  padding-bottom: 12px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

footer a {
  color: #b3b3b3 !important;
  text-decoration: none;
}
footer a:hover {
  color: #b3b3b3 !important;
}
footer a:visited {
  color: #b3b3b3 !important;
}

footer {
  background: #404040;
  color: #b3b3b3;
  font-family: "Poppins", sans-serif;
}
