html(lang="en")
  head
    title= title
  body
    div.shiplist 
    button(type="button" id="button" onclick="getShipsUpdate()") UPDATE
    script 
      include script.js
    script.
      document.onload = getShipsUpdate();
