/* Whatever is here overrides Bootstrap  */

body {
  font-size: 100%;
  background: #ffffff;
  margin-top: 2em;
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin-bottom: 1.5em;
}

#shiplistTable {
  border-collapse: collapse;
  border-spacing: 0.1em 0.2em;
  font-size: 100%;
}

#shiplistTableHead {
  text-align: center;
  font-weight: 600;
}

#shiplistTableBodyRow {
  margin-bottom: 0.2em;
  opacity: 1;
  transition: 0.4s;
  font-weight: 400;
}

#shiplistTableBodyRow:hover {
  background-color: #e7e7e7; /* Gray */
}

[scope="row"] {
  text-align: center;
  font-weight: 600;
}

td {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
}

td a {
  display: block;
  text-decoration: none;
  color: black;
}

.WindCircle {
  height: 2.2em;
  width: 2.2em;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.2em; /* adjust text height inside the circle */
}

#CircleGreen {
  background-color: rgb(88, 196, 88);
}

#CircleYellow {
  background-color: rgb(245, 224, 104);
}

#CircleOrange {
  background-color: rgb(230, 132, 41);
}

#CircleRed {
  background-color: rgb(219, 74, 74);
}

#CirclePurple {
  background-color: rgb(253, 95, 253);
}

footer a {
  color: #b3b3b3 !important;
  text-decoration: none;
}
footer a:hover {
  color: #b3b3b3 !important;
}
footer a:visited {
  color: #b3b3b3 !important;
}

footer {
  background: #404040;
  color: #b3b3b3;
  font-family: "Poppins", sans-serif;
}
