/* Whatever is here overrides Bootstrap  */

body {
  background: #ffffff;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-bottom: 50px;
}

#shiplistTable {
  border-collapse: collapse;
  border-spacing: 10 20px;
}

#shiplistTableHead {
  text-align: center;
  font-weight: 600;
}

#shiplistTableBodyRow {
  margin-bottom: 10px;
  opacity: 1;
  transition: 0.4s;
  font-weight: 400;
}

#shiplistTableBodyRow:hover {
  background-color: #e7e7e7; /* Gray */
}

[scope="row"] {
  text-align: center;
  font-weight: 600;
}

td {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  /* margin-bottom: 10px; */
  text-align: center;
  font-weight: 400;
}

footer a {
  color: #b3b3b3 !important;
  text-decoration: none;
}
footer a:hover {
  color: #b3b3b3 !important;
}
footer a:visited {
  color: #b3b3b3 !important;
}

footer {
  background: #404040;
  color: #b3b3b3;
  font-family: "Poppins", sans-serif;
}
