/* Whatever is here overrides Bootstrap  */

body {
  background: #404040;
  margin-top: 40px;
}

p {
  font-family: Georgia, serif;
  color: DarkSlateGray;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #dddddd;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #dddddd;
}

.ship {
  width: 100%;
}

/*
.row {
	margin-top: 1em;
}
*/

.btn {
  background-color: #66c2ff;
  width: 100%;
  border: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  opacity: 1;
  transition: 0.8s;
  margin-top: 1.2em;
}

.btn:hover {
  background-color: #606060; /* Gray */
  color: dddddd;
  font-weight: 500;
}

.btn-primary:active {
  background-color: #66c2ff; /* APM Blue */
  color: black;
  outline: none;
  box-shadow: none !important;
}

.btn-primary:focus {
  background-color: #66c2ff; /* APM Blue */
  color: black;
  outline: none;
  box-shadow: none !important;
}

footer a {
  color: #b3b3b3 !important;
  text-decoration: none;
}
footer a:hover {
  color: #b3b3b3 !important;
}
footer a:visited {
  color: #b3b3b3 !important;
}

footer {
  background: #404040;
  color: #b3b3b3;
  font-family: "Poppins", sans-serif;
}
